* {
				font-family: Arial, Verdana, sans-serif;
				color: black;
				text-align: center;
                font-style: oblique;}
p, * { 
   font-family: 'AvaraBold'; 
   font-weight: bold; 
   font-style: normal; 
   background-color:;
   
}

p {
   
   
    background-color:green;
    color:#fff;
}

body {
  background-image:url(https://wallpaperplay.com/walls/full/8/6/d/158668.jpg);
    background-image:cover;
  font-weight: bold; 
   font-style: normal; 
   
}


body {
				width: 90%;
				margin: 0 auto;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, {
				width: 31.3%;
				float: left;
				margin: 1%;
              background-color:;
}
			
			li {
				display: inline;
				padding: 0.1em;}
			#nav, #footer {
				;
				padding: 0.5em 0;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
              }


h2, h1, h3 {
  background-color:grey;
}



#feature {
 background-color: #8CC63E;
 background-image: url("https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1512144050i/24577930._SY540_.jpg");
 background-size:contain;
 background-position: right;
 background-repeat:no-repeat;}


.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
