* {
				font-family: Arial, Verdana, sans-serif;
				color: black;
				text-align: center;
                font-style: oblique;}
p, * { 
   font-family: 'AvaraBold'; 
   font-weight: bold; 
   font-style: normal; 
  
   
}

p {
   
   
    background-color:green;
    color:#fff;
}

body {
  background-image:url(https://cdn.hipwallpaper.com/i/50/54/oI65j8.jpg);
    background-image:cover;
  font-weight: bold; 
   font-style: normal; 
   
}


body {
				width: 90%;
				margin: 0 auto;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, {
				width: 31.3%;
				float: left;
				margin: 1%;
              background-color:;
}
			
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color: green;
				padding: 0.5em 0;}
			#feature, .article {
				height: 10em;
        margin-bottom: 1em;
              }


 h2 {
  background-color:grey;
}

p, h1, h3 { 
    background-color:green;
    color:#fff;
}

h4 {
  font-weight: bold;
}



#feature {
 background-color: #8CC63E;
 background-image: url("https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1512144050i/24577930._SY540_.jpg");
 background-size:contain;
 background-position: right;
 background-repeat:no-repeat;}


